h1 {
  text-align: center;
   color: #7A7F5A; 
   text-transform: uppercase;
}

h2 {
    background-color: #6D8CA5; 
    font-family: Monaco;
}

p {
    padding: 10px;
    color: #402E2A; 
    font-family: Tahoma, sans-serif; 
    line-height: 2; /* spacing might need edit */
}