h1 {
  text-align: center;
   color: #CA6680; 
   text-transform: uppercase;
}

h2 {
    background-color: #92D5E6; 
    font-family: Papyrus, "Brush Script MT", Monaco;
}

p {
    text-align: center;
    color: #402E2A; 
    font-family: Tahoma, sans-serif; 
    line-height: 2; /* spacing might need edit */
}